@model CheckoutViewModel
@{
    decimal total = 0;
}

<!-- Main Start -->
<main>
    <section id="order">
        <div class="container-fluid px-5">
            <div class="row">
                <div class="col-lg-8">
                    @await Html.PartialAsync("_CheckoutFormPartial", Model.Order)
                </div>
                <div class="col-lg-4">
                    <div class="card card_2 px-2 py-4">
                        <div class="card-title">SİPARİŞ ÖZETİ</div>
                        <div class="card-body">
                            <div class="header">
                                <p>Product</p>
                                <p>Total</p>
                            </div>
                            <ul id="texts">
                                @foreach (var item in Model.CheckoutItems)
                                {
                                    decimal salePrice = item.Product.DiscountPercent > 0 ? (item.Product.SalePrice * (1 - item.Product.DiscountPercent / 100)) : item.Product.SalePrice;
                                    <li class="item">
                                        <span>@(item.Product.Name == null || item.Product.Name.Length <= 20 ? item.Product.Name : item.Product.Name.Substring(0, 20) + "..." )  X  @item.Count</span>
                                        <span>@((salePrice*item.Count).ToString("0.00")) TL</span>
                                    </li>
                                    total += (salePrice * item.Count);
                                }
                            </ul>
                            <ul id="odenis">
                                <li class="item">
                                    <span>Kargo:</span>
                                    <span>Ücretsiz</span>
                                </li>
                                <li class="item">
                                    <span>TOPLAM:</span>
                                    <span>@total.ToString("0.00") TL</span>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <button type="submit" form="order-form">Devam Et</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Main End -->
