

    <!-- Main Start -->
    <section id="aboutus">
        <div class="container-fluid px-5">
            <div class="row">
                <div class="col-lg-6">
                    <p style="font-size: 36px;" class="mb-5 mt-5">SKECHERS HAKKINDA</p>
                    <img src="~/asset/images/aboutus.jpg" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-6 mt-5">
                    <div class="box mt-5">
                        <div class="title mb-3">OLKA</div>
                        <div class="text">
                            2011 yılında İstanbul’da kurulan Olka Spor Malzemeleri Tic. A.Ş
                            ayakkabı ve giyim sektöründe hizmet vermektedir. Amerika’nın en
                            büyük markalarından Skechers’ın Türkiye’deki distribütörü olan
                            firma, aynı zamanda Skechers’ın tüm Türkiye operasyonunu
                            yönetmektedir. Sektördeki toptan ve perakende deneyimi sayesinde
                            geliştirdiği satış ve pazarlama stratejileriyle Skechers’ı çok
                            kısa bir süre içerisinde Türkiye Pazarı’nın önemli markalarından
                            biri haline getiren Olka, spor, ithalat, distribütörlük, toptan
                            satış, perakende, tekstil, aksesuar ve ayakkabı sektöründe
                            yatırımlarına devam edecektir.
                        </div>
                    </div>
                    <div class="box mt-5">
                        <div class="title mb-3">Skechers</div>
                        <div class="text">
                            Amerika’da günlük giyim ve çocuk kategorilerinde açık ara pazar
                            lideri olan Skechers, spor ayakkabı kategorisinde de Amerika’nın
                            en büyük ikinci markası. 1992 yılında tüketiciler ile buluşan
                            marka, fonksiyonellik ve tasarımı bir araya getiren ürünleriyle
                            dünya çapında bir ayakkabı fenomeni haline geldi. Özellikle
                            yürüyüş, koşu ve günlük ayakkabı modelleri odağında farklılaşan
                            Skechers, sunduğu sıradışı rahatlık ve renkli tasarımlarla
                            yepyeni bir dönem başlattı. Geçmişten bu yana Britney Spears,
                            Christina Aguilera, The Black Eyed Peas, Robert Downey Jr., Rob
                            Lowe, Matt Dillon, Kim Kardashian, Demi Lovato ve Kelly Brook
                            gibi isimlerin marka yüzü olduğu Skechers, Türkiye’de 2011
                            yılından bu yana tüketiciye hizmet veriyor ve kısa süre
                            içerisinde Türk tüketicisi tarafından sahiplenildi. Global
                            anlamda dünyanın en büyük markalarından biri olan Skechers,
                            190’dan fazla ülkede 1000’in üzerinde mağazasıyla hizmet
                            veriyor.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Main End -->
