    <!-- Main Start -->
    <main>
        <section id="faq">
            <div class="container-fluid px-5">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="maintitle mb-5"><p>SIKÇA SORULAN SORULAR</p></div>
                    </div>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne"
                                        aria-expanded="true"
                                        aria-controls="collapseOne">
                                    <h5>Siparişim bana ne zaman ulaşır?</h5>
                                </button>
                            </h2>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    <h5>
                                        Skechers.com.tr üzerinde satılan ürünlerin garantisi var
                                        mı?
                                    </h5>
                                </button>
                            </h2>
                            <div id="collapseTwo"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        Skechers.com.tr üzerinden alınan her ürün % 100
                                        orijinaldir ve faturalı olarak teslimatları yapılmaktadır.
                                        Ürünlerimizin 2 (iki) yıl inceleme garantisi
                                        bulunmaktadır. Bu süre içerisinde ürünlerinizin
                                        incelenmesi için talepte bulunabilirsiniz. Aynı ürünü en
                                        fazla 2 defa incelemeye gönderebilirsiniz.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree"
                                        aria-expanded="false"
                                        aria-controls="collapseThree">
                                    <h5>
                                        Siparişimi verirken sorunla karşılaşıyorum, ne yapmalıyım?
                                    </h5>
                                </button>
                            </h2>
                            <div id="collapseThree"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        Skechers.com.tr üzerinde yapmış olduğunuz işlemlerde
                                        karşılaştığınız hata görsellerini
                                        musteriiliskileri@skechers.com.tr mail adresi üzerinden
                                        iletebilir ya da 0850 488 02 00 numaralı müşteri
                                        hizmetlerimizden bize ulaşarak da yardım alabilirsiniz.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading4">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapse4"
                                        aria-expanded="false"
                                        aria-controls="collapse4">
                                    <h5>Siparişimi nasıl iptal edebilirim?</h5>
                                </button>
                            </h2>
                            <div id="collapse4"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="heading4"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        Siparişiniz "Bekliyor" statüsünde ise siparişinizi bize
                                        ulaşın veya 0850 488 02 00 numaralı Skechers müşteri
                                        hizmetlerinden iptal talebinizi ileterek siparişinizi
                                        iptal ettirebilirsiniz.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading5">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapse5"
                                        aria-expanded="false"
                                        aria-controls="collapse5">
                                    <h5>
                                        Ürünümü ve/veya siparişimi iade/iptal ettikten ne kadar
                                        süre sonra tutar hesabıma geçiyor?
                                    </h5>
                                </button>
                            </h2>
                            <div id="collapse5"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="heading5"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        İade edilen ürün öncelikle Skechers inceleme ekibi
                                        tarafından incelenir. Skechers inceleme ekibi üründe ve
                                        ambalajında herhangi bir açılma, bozulma, kırılma, tahrip,
                                        yırtılma ve kullanılma durumu tespit ederse ürünü iade
                                        almayacak ve bedelini iade etmeyecektir. İade
                                        onaylandığında, yasal süre olan 10 (on) iş günü
                                        içerisinde, ürün ücreti kredi kartınıza iade edilir. Bu
                                        süre Skechers’a iade ettiğiniz ürünü teslim almasıyla
                                        başlar. İade işleminiz tamamlandığında, detayı sitemize
                                        üye olduğunuz e-mail adresinize gönderilir. Talep etmeniz
                                        durumunda ücret iadeniz kupona çevrilerek Skechers
                                        üyeliğinize yüklenebilir farklı bir siparişte bu çeki
                                        değerlendirebilirsiniz. Siparişiniz iade şartlarına uygun
                                        değilse adresinize geri gönderilir. Taksitli Ödemeler:
                                        Ödeme işleminiz yaparken taksit seçmiş iseniz ücret
                                        iadeniz bankanıza tek seferde ödenir. Bu aşamadan sonra
                                        bankanız bu tutarı kredi kartınıza her ay taksit tutarı
                                        kadar yatırır ve çeker (ekstreye + ve – olarak yansır). Bu
                                        işlem tamamen bankanız tarafından yapılmakta olup Skechers
                                        iadenizin tamamını tek seferde bankanıza sağlamaktadır.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading6">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapse6"
                                        aria-expanded="false"
                                        aria-controls="collapse6">
                                    <h5>Hangi kargo firması ile çalışıyorsunuz?</h5>
                                </button>
                            </h2>
                            <div id="collapse6"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="heading6"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        Skechers.com.tr sitemizden yapmış olduğunuz alışverişlerde
                                        ürün teslimatını MNG kargo ve Packupp ile yapmaktayız.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading7">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapse7"
                                        aria-expanded="false"
                                        aria-controls="collapse7">
                                    <h5>Kargo Takibini Nasıl Yapabilirim?</h5>
                                </button>
                            </h2>
                            <div id="collapse7"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="heading7"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        Satın aldığınız ürünlerin kargo firmasına verilmesinin
                                        ardından e-posta adresinize ulaşacak kargo takip kodunu
                                        (gönderim kodunu), kargo firmasına ait internet sayfasına
                                        giriş yaparak sorgulayabilirsiniz. Aynı zaman da
                                        Siparişlerim kısmından da kargonuzu takip edebilirsiniz.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading8">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapse8"
                                        aria-expanded="false"
                                        aria-controls="collapse8">
                                    <h5>
                                        Belirttiğim adreste olmamam durumunda siparişimi bir
                                        başkası teslim alabilir mi?
                                    </h5>
                                </button>
                            </h2>
                            <div id="collapse8"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="heading8"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        Sipariş ekranında belirtmiş olduğunuz ikinci kişi kimlik
                                        ibrazı ile siparişinizi teslim alabilir.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading9">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapse9"
                                        aria-expanded="false"
                                        aria-controls="collapse9">
                                    <h5>Ürünü değiştirmek istersem ne yapmam gerekiyor?</h5>
                                </button>
                            </h2>
                            <div id="collapse9"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="heading9"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        Faturası kesilmemiş siparişin için ürün renk/beden
                                        değişimi, ekleme, çıkartma gibi işlemler yapılamamaktadır.
                                        Faturası kesilmiş ve tarafına teslim edilmiş ürünler için
                                        internet mağazamızdan değişim yapılmamaktadır. Belirli
                                        Skechers mağazalarımızdan renk/beden değişikliği
                                        yapabilirsin.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading10">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapse10"
                                        aria-expanded="false"
                                        aria-controls="collapse10">
                                    <h5>Ürünü iade etmek istersem ne yapmam gerekiyor?</h5>
                                </button>
                            </h2>
                            <div id="collapse10"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="heading10"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        Siparişin ile birlikte gelen '' ürün iade formu''nu
                                        doldurarak, e-irsaliye veya e-fatura ile birlikte, iade
                                        şartlarına uyması durumunda sana ulaştığı tarihten
                                        itibaren 30 gün içerisinde MNG kargo ile ücretsiz olarak
                                        ürünü tarafımıza gönderebilirsin. İade ettiğin ürün bize
                                        ulaştığında ve iadesi onaylandığında, tarafına e-posta
                                        bilgilendirmesi yapılacaktır. Ürünün iade şartlarına
                                        uyması durumunda, ürün tutarı 10 iş günü içerisinde
                                        siparişi vermiş olduğun kartına iade edilir. Taksitli
                                        yaptığın alışverişlerde Skechers, bankana tek seferde
                                        ödeme yapar, bankan tarafına bu ödemeyi taksitli olarak
                                        gerçekleştirir. İadeni istersen iade çeki almak koşulu ile
                                        <a href="#">belirli Skechers mağazalarımızdan</a> da 30 gün içerisinde
                                        gerçekleştirebilirsin. Siparişi mağazadan iade etmen
                                        durumunda siparişindeki ürünün tutarı tarafına iade çeki
                                        olarak verilir. Bu çeki belirli Skechers
                                        mağazalarımızdanveya skechers.com.tr’de kullanabilirsin.
                                        Mağazalarımızdan satın alınan ürünlerin iade süresi 15
                                        gündür. <strong>Web İade adresimiz:</strong> Akçaburgaz mahallesi Muhsin
                                        Yazıcıoğlu cad. no: 3 Esenyurt - İSTANBUL MNG Kargo İade
                                        Kodu: 376988506 İadeler yalnızca MNG Kargo ile
                                        yapılmalıdır. Diğer kargo firmaları ile yapılan
                                        gönderimlerin ücretleri göndericiye aittir ve ücreti
                                        ödenmeyen kargolar, firmamızca teslim alınmamaktadır.
                                        Faturasız iade yapılmamaktadır.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Main End -->
