<!-- Main Start -->
<main>
    <section id="securty">
        <div class="container-fluid px-5">
            <div class="row">
                <div class="col-lg-12">
                    <h1>GİZLİLİK & GÜVENLİK</h1>
                </div>
                <div class="col-lg-12">
                    <h2> Gizlilik & Güvenlik </h2>
                    <p>
                        Garantili Bilgi Transferi Skechers teknolojinin en gelişmiş
                        güvenlikli yazılımlarını kullanır. Bu yüzden bize kredi kartı
                        bilgilerinizi verirken almış olduğunuz risk, güvenli bir
                        bankanın internet sitesinden işlem yaparken almış olduğunuz risk
                        kadardır.
                    </p>
                </div>
                <div class="col-lg-12">
                    <h2>Güvenli Alışveriş</h2>
                    <p>
                        Sitemiz, SSL (Secure Socket Layer) ve SET (Secure Electronic
                        Transaction) teknolojilerinin en son versiyonlarını kullanır.
                        Tüm bilgi alışverişi SSL güvencesi altındadır ve tüm veri akışı
                        şifreli olarak yapılmaktadır. Kart numaranızı kimse kesinlikle
                        göremez. Para transferi işlemleri Vpos'lar üzerinden, dünya
                        standardı olan SET protokolü kullanılarak yapılmaktadır. Limit
                        aşımına uğramış, sahte veya çalıntı olarak bildirilmiş kartların
                        kullanımı mümkün olmayacaktır.
                    </p>
                </div>
                <div class="col-lg-12">
                    <h2>
                        Tarayıcınızın Güvenli Olduğunu Nasıl Anlarsınız ?
                    </h2>
                    <p>
                        Tarayıcınız güvenli modda çalışıyorsa, alt navigasyon
                        çubuğunuzun sağında bir *kilit* ya da *anahtar* işareti
                        olacaktır. Ya da tarayıcınızın, görüntülemekte olduğu url
                        adresine bakabilirsiniz.Burada *http* yerine *https*
                        yazacaktır.(İngilizcede *güvenli* anlamına gelen *secure*
                        kelimesinin başharfi olan *s* eklenecektir.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Main End -->

