@model Setting

<div class="container" style="background-color: #cff4fc">
    <div class="row">
        <div class="col-lg-12">
            <form asp-action="edit" method="post">
                <div class="mb-3">
                    <label asp-for="Key" class="form-label">Key</label>
                    <input class="form-control" asp-for="Key">
                    <span class="text-danger" asp-validation-for="Key"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Value" class="form-label">Value</label>
                    <input class="form-control" asp-for="Value">
                    <span class="text-danger" asp-validation-for="Value"></span>
                </div>
                <button type="submit" class="btn btn-info">Edit</button>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial.cshtml")
}