@model ResetPasswordViewModel
    <!-- Main Start -->
    <main>
        <section id="login">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mb-5">
                        <div class="title">ÜYE GİRİŞİ</div>
                    </div>
                    <div class="col-lg-12">
                        <form class="row" asp-action="changepassword" method="post">

                            <input name="token" type="hidden" value="@Model.Token" />
                            <input name="email" type="hidden" value="@Model.Email" />

                            <div class="card-body">
                                <div class="row">

                                    <div class="form-group row mb-4">
                                        <div class="col-lg-3 col-12 mt-3">
                                            <label asp-for="Password" class="mb-3">Yeni Şifre:</label>
                                        </div>
                                        <div class="col-lg-9 col-12">
                                            <input asp-for="Password"
                                                   class="form-control"
                                                   placeholder="Yeni şifreyi giriniz...." />
                                            <span class="text-danger" asp-validation-for="Password"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-lg-3 col-12 mt-3">
                                            <label asp-for="RepeatPassword" class="mb-3">Şifre Tekrarı:</label>
                                        </div>
                                        <div class="col-lg-9 col-12">
                                            <input class="form-control"
                                                   asp-for="RepeatPassword"
                                                   id="password"
                                                   placeholder="Şifreyi tekrar giriniz..." />
                                            <span class="text-danger" asp-validation-for="RepeatPassword"></span>
                                        </div>
                                    </div>
                                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                    <div class="form-group row mt-4">
                                        <div class="col-lg-3 col-12"></div>
                                        <div class="col-lg-9 col-12">
                                            <button type="submit"
                                                    class="btn btn-info px-5"
                                                    id="login-btn">
                                                GİRİŞ YAP
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Main End -->

    @section Scripts{
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }