#offer {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  .card {
    border: 0;
    text-decoration: none;
  }
  .footer {
    display: flex;
    flex-direction: column;
    #title {
      font-size: 18px;
      color: #022c57;
      font-weight: 900;
      line-height: 24px;
      text-decoration: none;
    }
    #link {
      font-size: 14px;
      color: #022c57 !important;
      font-weight: 600;
      text-decoration: underline;
    }
  }
}
